preprocessing:
  build_graphs:
    used_method: orthrus
    use_all_files: True
    mimicry_edge_num: 0
    time_window_size: 15.0
    use_hashed_label: False
    fuse_edge: True
    node_label_features:
      subject: cmd_line
      file: path
      netflow: remote_ip, remote_port
    multi_dataset: none
  transformation:
    used_methods: undirected

featurization:
  feat_training:
    epochs: 100
    emb_dim: 256
    use_seed: True
    training_split: train
    used_method: fasttext
    fasttext:
      min_count: 2
      alpha: 0.01
      window_size: 3
      negative: 3
      num_workers: 15
      use_pretrained_fb_model: False
  feat_inference:
    to_remove: True

detection:
  graph_preprocessing:
    save_on_disk: False
    node_features: node_emb
    edge_features: none
    fix_buggy_graph_reindexer: False
    global_batching:
      used_method: none
    intra_graph_batching:
      used_methods: none
    inter_graph_batching:
      used_method: none
  gnn_training:
    used_method: orthrus
    use_seed: True
    num_epochs: 12
    patience: 3
    lr: 0.001
    weight_decay: 0.00001
    node_hid_dim: 256
    node_out_dim: 256
    grad_accumulation: 1
    encoder:
      dropout: 0.0
      used_methods: sum_aggregation
    decoder:
      used_methods: reconstruct_node_features
      reconstruct_node_features:
        loss: MSE # MSE_sum originally but too large loss
        decoder: nodlink
        node_mlp:
          architecture_str: linear(0.5) | relu

  evaluation:
    viz_malicious_nodes: False
    ground_truth_version: orthrus
    best_model_selection: best_adp
    used_method: node_evaluation
    node_evaluation:
      threshold_method: nodlink
      use_kmeans: False
